<div class="modal-dialog">
  <div class="modal-content">
    <h5 class="text-center mt-2">いいねしたユーザー</h5>
    <div class="mt-3 ml-3 mr-4">
      <ol>
        <%= render @users %>
        <%= paginate @users %>
      
    </div>
  </div>
</div>
