<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-1"></div>
    <div class="col-lg-7 mt-3">
      <ol class="posts">
        <%= render @posts %>
      </ol>
    </div>
  </div>
</div>