<% if resource.errors.any? %>
  <ul class="errors">
    <% resource.errors.full_messages.each do |error| %>
      <li class="border-bottom border-error mb-0 ml-3"><%= error %></li>
    <% end %>
  </ul>
<% end %>