<% if user_signed_in? %>
  <% if post.favorited_users.include?(current_user) %>
    <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
      <span class="favorited-color"><i class="fas fa-heart mr-1"></i><%= post.favorites.size %></span>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post), method: :post, remote: true do %>
      <span class="favorited"><i class="far fa-heart mr-1"></i><%= post.favorites.size %></span>
    <% end %>
  <% end %>
<% end %>