<% if @login_user.favorited?(post) %>
  <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
    <span class="favorited-color"><i class="fas fa-heart"></i>
      <%= post.favorites_count %>
    </span>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(post), method: :post, remote: true do %>
    <span class="favorited"><i class="far fa-heart">
      <%= post.favorites_count %>
      </i>
    </span>
  <% end %>
<% end %>