$("#comments-count").html("<%= @post_comments.size %>件のコメント");
$("#post-comments").prepend("<%= j(render "public/post_comments/post_comment", { post_comment: @comment } ) %>");
$("#post_comment_comment").val("");
$("#comment_flash").html('<p class="alert alert-success">コメントしました</p>')