<div class="row">
  <div class="col-11 mx-auto">
    <div class="page-header mt-5">
      <h1>お問い合わせ完了</h1>
    </div>
    <p>
      お問い合わせいただきありがとうございました。
    </p>
    
    <%= link_to "トップページに戻る", root_path %>
  </div>
</div>