/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.container-fluid {
  padding: 0;
}

ol, ul, dl, li {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.pagination {
  display: none;
}

.border-secondary {
    border-color: #ccd5dc !important;
}
.border-light {
  border-color: #edf5fd !important;
}

.background-hover:hover {
  background-color: #f6f8fd;
}

.post-delete a {
  color:#ff5824;
}

.favorited:hover {
  color: #ff78af;
}
.favorited-color {
  color: #ff78af;
}

.hover-grean:hover {
  color: #6fcc80;
}

.navbar {
  height: 55px;
}

.field_with_errors {
  width: 100%;
}

// ーーーーー投稿ボタンーーーーーーー
.btn-cool-blues {
  width: 100px;
  background: #4facff;
  color: #fff;
  border: 3px solid #eee;
}
.btn-rounded {
    border-radius: 35px;
}
//ーーーーーーーー フッター　ーーーーーーー

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.fa-backcolor:hover {
  color: #5454ff;
}

.btn-circle {

  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}
// ーーーーーーーーーーーーーーーー

// ーーーーー通知マークーーーーーー
.notice {
  position: relative;
}

.n-circle {
  position: absolute;
  top: 20px;
  left: 18px;
}

.chat-notice {
  position: relative;
}

.n-circle-chat {
    position: absolute;
    top: 20px;
    left: 20px;
}
// ーーーーーーーーーーーーーーーー
// .top-page {
//   background-image: image-url('paint.jpg');
//   background-size: cover;
//   height: 600px;
// }

//ーーーー ログインーーーー
div#login {
    height: 230px;
    margin-top: 30px;
}

.top-form {
  width: 320px;
  height: 210px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),
                0 1px 1px rgba(0, 0, 0, .2),
                0 3px 0 #fff,
                0 4px 0 rgba(0, 0, 0, .2),
                0 6px 0 #fff,
                0 7px 0 rgba(0, 0, 0, .2);
  position: absolute;
  z-index: 0;
}

.top-form:before {
  content: '';
  position: absolute;
  z-index: -1;
  border: 1px dashed #ccc;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  box-shadow: 0 0 0 1px #fff;
}

.top-form h4 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
  text-transform: uppercase;
  text-align: center;
  color: #666;
  margin: 10px 0;
  letter-spacing: 4px;
  font: normal 26px/1 Verdana, Helvetica;
  position: relative;
}

.top-form input {
  margin: 0 auto;
}

.form-control {
  width: 75%;
  height: 30px;
}

.btn-outline-secondary {
  padding: 1px 12px;
}
// ーーーーーーーーーーーー

// ーーーー新規登録ーーーー
#sign-up {
  margin-left: 160px;
  height: 280px;
}

#sign-up form#signup_new_user {
  width: 370px;
  height: 250px;
}

.errors li {
    list-style: disc;
}

.border-error {
  border-color: #ff9f9f !important;
}
// ーーーーーーーーーーーー


// フォローフォロワーの切り替えーー
.follow {
  color: blue;

}
.follower {
  color: blue;
}

.modal.in {
  transition-duration: 0s;
}
// ーーーーーーーーーーーーーーー


// チャットルームーーーーー

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  width: 100%;
  float: left;
  padding: 30px 15px 0 25px;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

.chat-form {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.chat-form:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(0,0,0,0.2);
}
// ーーーーーーーーーーーーーーーーー