/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

ol, ul, dl, li {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.border-secondary {
    border-color: #ccd5dc !important;
}

.top-page {
  background-image: image-url('paint.jpg');
  background-size: cover;
  height: 600px;
}

//ーーーー ログインーーーー
.top-form {
  width: 300px;
  height: 210px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),
                0 1px 1px rgba(0, 0, 0, .2),
                0 3px 0 #fff,
                0 4px 0 rgba(0, 0, 0, .2),
                0 6px 0 #fff,
                0 7px 0 rgba(0, 0, 0, .2);
  position: absolute;
  z-index: 0;
}

.top-form:before {
  content: '';
  position: absolute;
  z-index: -1;
  border: 1px dashed #ccc;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  box-shadow: 0 0 0 1px #fff;
}

.top-form h4 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
  text-transform: uppercase;
  text-align: center;
  color: #666;
  margin: 10px 0;
  letter-spacing: 4px;
  font: normal 26px/1 Verdana, Helvetica;
  position: relative;
}

.top-form input {
  margin: 0 auto;
}

.form-control {
  width: 75%;
  height: 30px;
}

.btn-outline-secondary {
  padding: 1px 12px;
}
// ーーーーーーーーーーーー

// 新規登録
div#sign-up {
  margin-top: 260px;
  margin-left: 180px;
}