<li class="border-bottom border-secondary">
  <div class="user_info d-flex align-items-center">
    <%= link_to admin_user_path(user) do %>
      <div class="user_info d-flex align-items-center">
        <%= attachment_image_tag user, :image, :fill, 70, 70, format: 'jpg', fallback: "no_image.jpg", size:'70x70', class: "rounded-circle" %>
        <div class="ml-3"><h5 class="text-dark"><%= user.name %></h5></div>
      </div>
    <% end %>
    <div class="ml-auto">
      <div class="text-danger">
        <%= render partial: "activvated", locals:{ user: user} %>
      </div>
    </div>
  </div>
</li>