<div class="row mx-3 my-3">
  <% if @notifications.exists? %>
  <%= link_to "通知を全て削除する", notifications_all_path, method: :delete, data: {confirm: "本当に削除しますか？"} %>
    <div class="scroll-list jscroll w-100">
      <%= render @notifications %>
      <%= paginate @notifications %>
    </div>
  <% else %>
    <p class="ml-4">通知はありません</p>
  <% end %>
</div>
