<div class="row mt-2">
  <div class="col-11 mx-auto">
    <ol class="scroll-list jscroll">
      <div class="media-flex">
        <%= render @sites %>
        <%= paginate @sites %>
      </div>
    </ol>
  </div>
</div>